@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.footer {
    background-color: #343F53;
    width: auto;
    height: 400px;
    padding: 10px 100px;
    color: white;
    bottom: 0;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.useful-cat {
    width: 40%;
    height: 90%;
    text-align: start;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.leftsection {
    margin-top: 2.5rem;

}

.middle-sect {
    margin-left: 14%;
    position: absolute;
    margin-top: -18%;

}

.last-sect {
    margin-left: 30%;
    width: max-content;
    position: absolute;
    margin-top: -18%;
}


.quicklinkes {
    width: 20%;
    margin-left:7%;
}

.qlinks {
    margin-top: 2%;
    position: absolute;
    text-align: start;
}

.keepup {
    width: 25%;
    margin-left: 62%;
    position: absolute;
}

.extra input {
    width: 400px;
    background-color: #343F53;
    border: 1px solid #f2f1f6;
    border-radius: 8px;
}

.btns button {
    padding: 30 10;
}

/* .footer hr{
    padding: 10 100;
} */

#sendbtn {
    background-color: #2560Fc;
    height: 35px;
    width: 40px;
    padding-left: 10px;
    margin-top: 25px;
    border-radius: 10px;
}

.heading,
.about {
    font-weight: 700;
}

.footer h2 {
    margin-top: 1.50rem;
    width: max-content;
}

.footer hr {
    margin-top: 1.50rem;
}

.footer a{
    color: white;
    text-decoration: none;
}

#sendbtn {
    margin-left: 10px;
    top: -24px;
    left: 190px;
    margin-top: -4rem;
}

.social-icons {
    height: 30px;
    width: 30px;
    float: left;
}
.extra > h2{
    font-style: normal;
    text-align: start;
    flex-wrap: wrap;
    display: flex;
}

.extra > .mobile-heading{
    display: none;
}