/* Import Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
    background-color: #f2f1f6;
}

.nav nav ul a{
    color: #343f53;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
   font-size: 12pt;
}

.nav nav ul{
    border-radius: -10px;
    padding: 1px 15px;
}

.nav nav ul a:hover{
    color: #2560Fc;
}

.nav{
    background-color: #ffffff;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.nav button{
    background-color: #2560Fc;
    color: #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 120px;
}

.nav nav ul a:visited{
    border-bottom: #2560Fc;
}

.react-icon-user{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

nav{
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-justify: center;
    display: flex;
}

#sing-in{
    right: 5%;
        top: 10px;
    position: absolute;
    align-items: middle;
    justify-items: center;
}

#logo{
    /* background-color: white; */
    font-size: 16pt;
    left: 3%;
    top: 10px;
    position: absolute;
    margin: 0;
}
.logo-edemand-link{
    color: #2560Fc;
    text-decoration: none;
}


.navigation li.active a {
  border-bottom: 2px solid #333;
}