/*========================== Home Page =====================================*/
/*Tablet screen*/
@media screen and (min-width:1000px) and (max-width:1400px) {
    /* body - tablet - screen*/

    body {
        max-width: 82vh;
        overflow-x: hidden;
        background-color: aqua;
        max-width: max-content;
    }

    /*Navigation - tablet - screen*/
    .slide-navigation .burger-menu {
        display: block;
        visibility: visible;
        position: static;
    }

    .nav nav ul a {
        display: none;
    }

    .nav {
        height: 50px;
        display: block;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #logo {
        margin-left: 10px;
    }

    /*Footer - tablet - screen*/

    .footer {
        /* width: 60vh; */
        display: block;
        width: auto;
        height: 700px;
        overflow: hidden;
    }

    #myinp1 {
        width: 200px;
    }

    .middle-sect {
        margin-top: -50%;
    }

    .lase-sect {
        margin-top: -62%;
    }

    .home-image-slider {
        height: 300px;
    }

    .useful-cat {
        width: auto;
        height: auto;
        /* position: absolute; */
        /* margin-bottom: auto; */
    }

    .middle-sect {
        margin-top: -26%;
        margin-left: 30%;
        position: absolute;
    }

    .last-sect {
        margin-top: -26%;
        margin-left: 68%;
        position: absolute;
    }

    .quicklinkes {
        display: none;
    }

    .keepup {
        width: 80%;
        margin: 0;
    }

    .follow-us {
        padding-top: 50px;
    }

    #sendbtn {
        display: none;
    }

    .extra .pc-heading {
        display: none;
    }

    .extra .mobile-heading {
        display: block;
    }

    .extra input {
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* page - section - tablet - screen */

    .data-row {
        max-width: 170px;
    }

    .data-column img {
        max-width: 140px;
    }

    /* .data-column{
        width: auto;
    } */

    .home-column {
        height: 222px;
        width: 200px;
    }

    .home-column img {
        height: 40%;
        width: 40%;
    }

    .home-row {
        width: 200px;
        margin: -9px 6px;
    }

    .home-column img {
        height: 50%;
        width: 50%;
    }

    .form-control {
        width: 200px;
    }

    .home-location input {
        width: 360px;
    }

    .api-data {
        display: block;
        margin-left: -48px;
    }

    .left-btn,
    .right-btn {
        visibility: hidden;
    }

    .burger-menu {
        display: block;
    }

}

/* ----------------------------------------------------------------- */
/*Mobile - Screen*/
@media screen and (min-width:600px) and (max-width:1000px) {
    /* body - tablet - screen*/

    body {
        max-width: 40vh;
        overflow-x: hidden;
        max-width: max-content;
    }

    /*Navigation - tablet - screen*/
    .nav nav ul a {
        display: none;
    }

    .nav {
        height: 50px;
        display: block;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    #logo {
        margin-left: 10px;
    }

    /*Footer - tablet - screen*/

    .footer {
        /* width: 60vh; */
        display: block;
        width: auto;
        height: 700px;
        overflow: hidden;
    }

    #myinp1 {
        width: 240px;
    }

    .home-location input {
        width: 30%;
    }

    /* Footer - section - mobile */

    .footer {
        height: 800px;
    }

    .middle-sect {
        margin-top: -50%;
    }

    .lase-sect {
        margin-top: -62%;
    }

    .footer .useful-cat {
        width: auto;
        height: auto;
        display: block;
        /* position: absolute; */
        /* margin-bottom: auto; */
    }

    .middle-sect {
        margin-top: -39%;
        margin-left: 48%;
        position: absolute;
    }

    .last-sect {
        margin-top: 42%;
        margin-left: 1%;
        position: absolute;
        display: none;
    }

    .quicklinkes {
        display: none;
    }

    .keepup {
        width: 80%;
        margin: 0;
        margin-top: 10%;
    }

    .follow-us {
        padding-top: 50px;
    }

    #sendbtn {
        display: none;
    }

    .extra .pc-heading {
        display: block;
    }

    .extra .mobile-heading {
        display: none;
    }

    .extra input {
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* page - section - tablet - screen */

    .home-location input {
        width: auto;
    }

    .data-row {
        max-width: 100px;
        max-height: 174px;
    }

    .data-column img {
        max-width: 80px;
        max-height: 80px;
    }

    .data-column {
        width: auto;
        max-height: 120px;
        max-height: 200px;
    }

    .home-column {
        height: 222px;
        width: 200px;
    }

    .home-column img {
        height: 40%;
        width: 40%;
    }

    .home-row {
        width: 200px;
        margin: -9px 6px;
    }

    .home-column img {
        height: 50%;
        width: 50%;
    }

    .api-data {
        display: block;
        margin-left: -48px;
    }

    .left-btn,
    .right-btn {
        visibility: hidden;
    }

    .burger-menu {
        display: block;
    }

    .category {
        max-height: 320px;
    }

    .home-column {
        max-height: 165px;
    }

    .home-column img {
        height: 85%;
    }

    .text-img{
        margin-top: -54px;
    }

    /* Category Page*/
    .heading-name{
        margin-left: -58px;
    }
    .heading-name{
        margin-top: 20px;
    }
    .heading-address{
        padding-top: 37px;
        padding-bottom: 20px;
    }
    .heading-address a{
        display: none;
    }
}


/*Responsive - About PAge*/

/* responsive for mobile device */
@media only screen and (min-width:320px)and (max-width:480px){
    .about-header{
        width:100%;
        height: 50px;
        background: #F2F1F6;
        padding:10px 10px;
        margin-top: 0px;
        font-family: 'Plus Jakarta Sans', sans-serif;
       display:block;
    }
    .nav nav ul a{
        display: none;
    }
    .about-header  a{
        font-size: 12pt;
    }
    .about-section{
        background-color: white;
        display: block;
        margin-top: -24px;
    }
    .about{
        margin-left: 10px;
        margin-top: -20px;
        font-size: 12px;
    }
    .about-us-body h2{
        display:block;
        font-size: 12pt;
    }
    .about-us-body .about-img img{
        height: 200px;
        width:94%;
        margin-left:12px;
        border-radius: 20px;
        display:block;
     }
     .about-img{
         margin-top:20px;
         display:block;
     }
     .about-details{
        margin-top:10px;
        margin-left: 20px;
        width: 94%;
        display: block;
    }
    .about-details h1{
        font-size: 16pt;
        font-weight: bold;
        display: block;
        font-family:  'Plus Jakarta Sans', sans-serif;
    }
    .about-details p{
        margin-top: -20px;
        font-size: 12pt;
    }
    .about-details .about-list{
        font-size: 14pt;
        width: 100%;
        display:block;
    }
    .footer{
        display: none;
    }
    
}
/* responsive for ipad and Tablet */
@media only screen and (min-width:481px) and (max-width:768px){
    .about-header{
        width:100%;
        height: 120px;
        background: #F2F1F6;
        padding:10px 10px;
        margin-top:0px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-left: 30px;
        display:block;
    }
    
    .about-header  a{
        font-size: 12pt;
    }
    .about{
        /* margin-top: -70px; */
        /* margin-left: 100px; */
        margin-left: 30px;
        margin-top: -30px;
        font-size: 12px;
    }
    .about-section{
        background-color: white;
        display: block;
        margin-top: -62px;
    }
    .about-us-body h2{
        display:block;
        font-size: 16pt;
    }
    .about-us-body .about-img img{
        height: 400px;
        width:92%;
        margin-left:12px;
        border-radius: 20px;
    }
    .about-img{
        margin-top:60px;
        display:block;
        padding-top: 30px;
    }
    .about-details{
        margin-top:50px;
        margin-left: 20px;
        display: block;
        max-width: 90%;
    }
    .about-details h1{
        font-size: 16pt;
        font-weight: bold;
        display: block;
        font-family:  'Plus Jakarta Sans', sans-serif;
    }
    .about-details p{
        margin-top: 10px;
        font-size: 12pt;
    }
    .about-details .about-list{
        font-size: 14pt;
        width: 100%;
        display:block;
        font-weight: bold;
    }
    .footer{
        display: none;
    } .heading-address{
        padding-top: 37px;
        padding-bottom: 20px;
    }
    .heading-address a{
        display: none;
    }
}


/* responsive for small screen and laptops */
@media only screen and (min-width:769px) and (max-width:1024px){
    .about-header{
        width:100%;
        height: 50px;
        background: #F2F1F6;
        padding:10px 10px;
        margin-top:0px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-left: 50px;
        display:block;
    }
    .about-header  a{
        font-size: 12pt;
    }
    .about{
        /* margin-top: -70px; */
        /* margin-left: 100px; */
        margin-left: 50px;
        margin-top: -30px;
        font-size: 12px;
    }
    .about-section{
        background-color: white;
        display: block;
        margin-top: -58px;
    }
    .about-us-body h2{
        display:block;
        font-size: 14pt;
    }
    /* .about-us-body .about-img img{
        height: auto;
        width:90%;
        margin-left:40px;
        border-radius: 20px;
        display:block;
        margin-top: 30px;
    } */
    .about-img{
        margin-top:60px;
        display:block;
    }
    .about-details{
        margin-top:50px;
        margin-left: 50px;
        width: 94%;
        display: block;
    }
    .about-details h1{
        font-size: 16pt;
        font-weight: bold;
        display: block;
        font-family:  'Plus Jakarta Sans', sans-serif;
    }
    .about-details p{
        margin-top: 10px;
        font-size: 12pt;
    }
    .about-details .about-list{
        font-size: 14pt;
        width: 100%;
        display:block;
        font-weight: bold;
    }
    .about-us-body{
        margin-top: auto;
    } .heading-address{
        padding-top: 37px;
        padding-bottom: 20px;
    }
    .heading-address a{
        display: none;
    }
}

/* responsive for Desktop and Large Screen */
@media only screen and (min-width:1025px) and (max-width:1200px){
    .about-header{
        width:100%;
        height: 80px;
        background: #F2F1F6;
        padding:10px 50px;
        margin-top:10px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-left: 50px;
        display:block;
    }
    .about-header  a{
        font-size: 12pt;
    }
    .about-section{
        background-color: white;
        display: block;
    }
    .about{
        /* margin-top: -70px; */
        /* margin-left: 100px; */
        margin-left: 50px;
        margin-top: -40px;
        font-size: 12px;
    }
    .about-us-body h2{
        display:block;
        font-size: 14pt;
    }
    .about-img{
        margin-top:60px;
        display:block;
    }
    .about-details{
        margin-top:50px;
        margin-left: 50px;
        width: 94%;
        display: block;
    }
    .about-details h1{
        font-size: 16pt;
        font-weight: bold;
        display: block;
        font-family:  'Plus Jakarta Sans', sans-serif;
    }
    .about-details p{
        margin-top: 10px;
        font-size: 12pt;
    }
    .about-details .about-list{
        font-size: 14pt;
        width: 100%;
        display:block;
        font-weight: bold;
    } .heading-address{
        padding-top: 37px;
        padding-bottom: 20px;
    }
    .heading-name{
        margin-bottom: -19px;

    }
    .heading-address a{
        display: none;
    }
}

/* responsive for Extra large screen.TV */
@media only screen and (min-width:1201px) and (max-width:1400px){
    .about-header{
        width:100%;
        height: 112px;
        background: #F2F1F6;
        padding:10px 50px;
        margin-top:10px;
        font-family: 'Plus Jakarta Sans', sans-serif;
        padding-left: 80px;
        display:block;
    }

    

    .about-header  a{
        font-size: 12pt;
    }
    .about{
        /* margin-top: -70px; */
        /* margin-left: 100px; */
        margin-left: 80px;
        margin-top: -40px;
        font-size: 12px;
    }
    .about-us-body h2{
        display:block;
        font-size: 20pt;
        margin-top: -81px;
    }
    .about-section{
        background-color: white;
        display: block;
    }
    
    .about-img{
        margin-top:60px;
        display:block;
    }
    .about-details{
        margin-top:50px;
        margin-left: 100px;
        width: 94%;
        display: block;
    }
    .about-details h1{
        font-size: 22pt;
        font-weight: bold;
        display: block;
        font-family:  'Plus Jakarta Sans', sans-serif;
    }
    .about-details p{
        margin-top: 10px;
        font-size: 16pt;
        width: 100%;
    }
    .about-details .about-list{
        font-size: 18pt;
        width: 100%;
        display:block;
        font-weight: bold;
        margin-top: 80px;
    }
    .heading-name{
        max-height: max-content;
        top: 20px;
        position: absolute;
    }
    .heading-address{
        padding-top: 37px;
        padding-bottom: 20px;
    }
    .heading-address a{
        display: none;
    }
}