:root{
  --global-transition:.25s ease;
}

/* .swiper-container {
    position: relative;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .swiper-button-prev {
    left: -10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
   */

.swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

/* Swiper Buttons adjustment */
.swiper-button-next {
  /* button styles */
  margin-left: 100px;
}

/* input tag width for number in login form  */
.react-tel-input .form-control {
  width: 350px;
} 

.nav-link.active {
  text-decoration: underline;
}

.css-1oqqzyl-MuiContainer-root {
  padding: 0px;
}

.css-12vja52-MuiToolbar-root{
  padding-left: 0;
  padding-right: 0;
}
.css-m1uy8a-MuiPaper-root-MuiCard-root{
  box-shadow: 0;
}


/*Logout style*/
.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 71vh;
  width: 100%;
  border-radius: 10px;
}

.logout-title {
  font-size: 32px;
  color: #333;
}

.logout-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.overlay {

    position: absolute;
    left: 2px;
    top: 0;
    height: 100%;
    width: 260px;
    background: #0000003b;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgba(0,212,255,0) 57%);
    border-radius: inherit;
}

.service-card-rating {
  position: absolute;
  top: 12px;
  right: 12px;
  /* background: #009d3e; */
  color: white;
  /* padding: 5px 10px; */
  border-radius: inherit;
}

.service-card {
  transition: var(--global-transition) !important;
  cursor: pointer;
}

.service-card:hover{
  transform: scale(1.05);
  transition: var(--global-transition) ;
}
.swiper-wrapper{
  padding: 16px;
}
